<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/6.0/phpunit.xsd"
         bootstrap="vendor/autoload.php">
    <php>
        <env name="API_KEY" value=""/>
        <env name="API_SECRET" value=""/>
        <env name="USERNAME" value=""/>
        <env name="PASSWORD" value=""/>
        <env name="BUSINESS_UNIT_ID" value=""/>
        <env name="PRODUCT_IMAGE_URL" value=""/>
        <env name="PRODUCT_PAGE_URL" value=""/>
        <env name="LOCALE" value=""/>
    </php>
    <testsuites>
        <testsuite name="LiveTest">
            <directory>tests/LiveTest</directory>
        </testsuite>
    </testsuites>
</phpunit>